.idea/.2019-04-01 - Still Good Explorer.iml.icloud
.idea/.misc.xml.icloud
.idea/.modules.xml.icloud
.idea/.vcs.xml.icloud
.idea/.workspace.xml.icloud
.idea/codeStyles/.codeStyleConfig.xml.icloud
.idea/codeStyles/.Project.xml.icloud
.idea/dictionaries/.phongtran.xml.icloud
.idea/inspectionProfiles/.Project_Default.xml.icloud
.idea/